/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
  scroll-behavior: smooth;
}
.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.liveValidationMessage {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  top: -6px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  padding: 5px;
  opacity: 0;
}
.liveValidationMessage--show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.top-bar {
  border-top-width: 2px;
  border-color: #3182ce;
}
.blueOnHover:hover {
  color: #3182ce;
}
.yes-like-color {
  color: #3182ce;
}
.no-like-color {
  color: black;
}
.yes-fill {
  fill: #3182ce;
}
.no-fill {
  fill: white;
}
button:active {
  -webkit-transition: all 120ms ease-in-out;
  -o-transition: all 120ms ease-in-out;
  transition: all 120ms ease-in-out;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.label-onlick-bg-color:active {
  background-color: #cbd5e0;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.modal-overlay {
    background-color: silver;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}
.modal-overlay.active {
  z-index: 19;
    opacity: 0.4;
    cursor: pointer;
}
.modal {
    padding: 10px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 0;
    background-color: white;
    width: 18rem;
    max-width: 80%;
}
.modal.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
            z-index: 20;
}
.modal::before {
  content: "Edit Comment";
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}


