html {
  scroll-behavior: smooth;
}
.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.liveValidationMessage {
  transition: all 0.5s ease-out;
  top: -6px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  transform: translateY(100%);
  padding: 5px;
  opacity: 0;
}
.liveValidationMessage--show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.top-bar {
  border-top-width: 2px;
  border-color: #3182ce;
}
.blueOnHover:hover {
  color: #3182ce;
}
.yes-like-color {
  color: #3182ce;
}
.no-like-color {
  color: black;
}
.yes-fill {
  fill: #3182ce;
}
.no-fill {
  fill: white;
}
button:active {
  transition: all 120ms ease-in-out;
   transform: translateY(1px);
}


