<section class="bg-yellow-200" >
  <!-- INPUT AND SUBMIT BUTTON -->
  <input id="input-comment" class="w-full" type="text">
  <button id="button-comment">Submit</button>
  <!-- INPUT AND SUBMIT BUTTON ENDS-->
  <ul id="comment-container-ul">

  </ul>
</section>