<div class="rounded-lg mx-auto my-4 bg-white shadow-lg" style="width: 1000px;">
  <div class="h-10 relative flex justify-center">
    <button id="arrow-down" class="absolute mt-6">
      <i
        class="text-white h-6 w-6 rounded-full bg-blue-600"
        data-feather="arrow-down"
      ></i>
    </button>
  </div>
  <canvas
    class=""
    id="myChart"
    style="width: 800px; height: 150px; display: none;"
  ></canvas>
</div>

<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: <%- JSON.stringify(statsByYear[0]) %>,
      datasets: [
        {
          label: "Profiles per graduation year",
          data: <%- JSON.stringify(statsByYear[1]) %>,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)"
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)"
          ],
          borderWidth: 2
        }
      ]
    },
  options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Number of profiles per graduation year'
      }
    }
  });
</script>
