<footer class="text-center mt-8">
  <hr class="border-b border-gray-100 mb-4" />
  &copy 2020 By <a href="https://dankore.com">Adamu M. Dankore.</a><a href="/privacy"> Privacy Policy.</a>
  <div class="w-full flex justify-center items-center my-2">
    <img class="rounded-full w-16 h-16" src="../../static/logo.jpg" alt="gss-gwarinpa logo">
  </div>
</footer>
</main>
</body>
</html>