<footer class="text-center mt-8" > 
   <hr class="border-b border-gray-100" />
  &copy 2020 By <a href="https://dankore.com">Adamu M. Dankore.</a>
  <a href="/privacy">Privacy Policy.</a> 
</footer>
  <script>feather.replace()</script>
</body>

</html>