<h1 class="text-center text-2xl mt-4">FIND YOUR GSS GWARINPA CLASSMATES</h1>
<div class="flex flex-wrap justify-center">
  <% profiles.forEach(function(profile) { %>
    <%- include('includes/profileShared', {profile: profile}) %> 
<% }) %>
</div>
