<p class="text-center text-2xl my-4">
  Welcome, <strong><%= user.email %>!</strong>
</p>
<div class="max-w-2xl mx-4 sm:mx-auto p-4 flex flex-wrap bg-white rounded">
  <div class="w-1/2">
    <img
      class="w-56 h-56 object-cover rounded"
      title=""
      src="../static/logo.jpg"
    />
  </div>
  <div class="w-1/2">
    <p class="mb-4">View your profile and update your information.</p>
    <a
      href="/profile/<%= user.email %>"
      class="text-center inline-block text-xl px-3 my-2 text-blue-800 rounded font-bold border border-blue-800 w-56 mx-auto hover:text-white hover:bg-blue-600"
      >View Your Profile
    </a>
    <a
      href="/profile/<%= user.email %>/edit"
      class="text-center inline-block text-xl px-3 my-2 text-blue-800 rounded font-bold border border-blue-800 w-56 mx-auto hover:text-white hover:bg-blue-600"
      >Edit Your Profile
    </a>
    <a
      href="/account"
      class="text-center inline-block text-xl px-3 my-2 text-blue-800 rounded font-bold border border-blue-800 w-56 mx-auto hover:text-white hover:bg-blue-600"
      >View Your Account
    </a>
  </div>
</div>
