<p class="text-center text-2xl my-4">Welcome, <strong><%= user.firstName %>!</strong></p>
<div class="w-full md:w-3/4 mx-auto flex flex-wrap justify-center p-8 bg-white rounded">
  <div class="w-1/3">
    profile goes here
  </div>
  <div class="w-1/3">
    <p>Edit your profile and update your information</p>
    <a href="#" class="bg-green-600 hover:bg-green-800 text-white px-4 py-2 inline-block my-2 rounded text-bold">Edit profile</a>
  </div>
</div>