<p class="text-center text-2xl my-4">
  Welcome, <strong><%= locals.first_name_welcome %>!</strong> 
</p>
<div class="max-w-lg flex flex-wrap justify-center items-center text-center mx-auto">
  <div>
    <a
      href="/profile/<%= user.email %>"
      class="text-center inline-block text-md px-3 my-2 text-blue-800 rounded border border-blue-800 mx-auto hover:text-white hover:bg-blue-600"
      >View Profile
    </a>
    <a
      href="/profile/<%= user.email %>/edit"
      class="text-center inline-block text-md px-3 my-2 text-blue-800 rounded border border-blue-800 mx-auto hover:text-white hover:bg-blue-600"
      >Edit Profile
    </a>
    <a
      href="/account/<%= user.email %>"
      class="text-center inline-block text-md px-3 my-2 text-blue-800 rounded border border-blue-800 mx-auto hover:text-white hover:bg-blue-600"
      >Account Settings
    </a>
  </div>
</div>
