<div class="text-center mt-2">
  <a href="/" class="text-sm font-bold text-blue-500">
    &laquo; Go to homepage</a
  >
</div>
<div
  class="max-w-2xl p-4 m-4 mx-auto flex flex-wrap justify-around bg-white rounded"
>
  <img
    class="w-56 h-56 object-cover rounded"
    title=""
    src="../static/pic.jpg"
  />
  <div class="px-6 py-4 text-center md:text-left">
    <div class="text-xl font-bold mb-2">
      <%= profile.firstName %> <%= profile.lastName %>
    </div>
    <p class="mb-3">
      <span class="text-gray-600">Class of</span>: <%= profile.year %>
    </p>
    <p class="mb-3">
      <span class="text-gray-600">Email:</span> <%= profile.email %>
    </p>
  </div>
</div>
