<div class=" pl-1 sm:pl-32 mt-4 sm:mt-0">
  <button class="flex items-center text-md px-2" id="filter-icon">
    <img src="../../static/filter.svg" class=""/>
    <label class="ml-1">Filter</label>
  </button>

  <div id="form-container" style="display: none;">
    <form action="/sort" method="POST" class="pt-1">
      <button value="-1" name="q" class="mr-2">
          <p class="px-2">Newer profiles first</p>
      </button>
      <button value="1" name="q">
          <p class="px-2">Older profiles first</p>
      </button>
    </form>
  </div>
</div>
