<div class="w-64 mx-auto">
  <% if(profiles.length > 1) {%>
  <div>
    <span class="rounded-full border border-blue-400 p-2 bg-white"
      ><%= profiles.length %></span
    >
    profiles available<button id="plus-sign" class="text-2xl pointer">
      <sup>+</sup>
    </button>
  </div>
  <% } else { %>
  <div>
    <span class="rounded-full border border-blue-400 p-2 bg-white"
      ><%= profiles.length %></span
    >
    profile available!
    <button id="plus-sign" class="text-2xl pointer">
      <sup>+</sup>
    </button>
  </div>
  <%}%>
  <div
    id="stats-container"
    class="absolute max-w-md mt-3 p-5 bg-white rounded"
    style="display: none;"
  >
    <% statsByYear.forEach(stat =>{ %>
    <ul>
      <li><%=stat%></li>
    </ul>
    <% }) %>
  </div>
</div>
