<div class="mt-3 max-w-sm sm:max-w-xs text-right">
  <button id="more-profile-btn" class="text-lg text-blue-600 italic">
    Show full profile
  </button>
</div>
<div
  id="more-profile-container"
  style="display: none"
  class="mt-3 p-4 max-w-sm sm:max-w-xs bg-white rounded shadow-lg"
>
  <p class="mb-1">
    <span class="text-gray-600">Email:</span> <%= profile.email %>
  </p>
  <p class="mb-1 ">
    <span class="text-gray-600">Phone number:</span> 0805-546-3432
  </p>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block">Facebook: </span>
    <a href="#">https://www.facebook.com</a>
  </p>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block">Twitter: </span>
    <a href="#">https://www.twitter.com</a>
  </p>
</div>
