<div class="mt-3 max-w-sm sm:max-w-xs text-right">
    <button id="more-profile-btn" class="text-lg text-blue-600 italic">Show full profile</button>
  </div>
<div id="more-profile-container" class="mt-3 p-4 max-w-sm sm:max-w-xs bg-white rounded shadow-lg">
  <p class="mb-1 ">
      <span class="text-gray-600">Email:</span> <%= profile.email %>
    </p>
</div>
