<%- include('includes/header') %>

<div class="text-center m-4">
  <p class="text-6xl">404</p>
  <h2>Abeg no vex, that page is not available.</h2>
  <p class="lead text-muted">
    You can always visit the <a href="/" class="text-blue-700 unde">homepage</a> to get a fresh start.
  </p>
</div>
<%- include('includes/footer') %>
