
<%- include('includes/header') %>
<% if(user){ %>
  <p class="text-center text-2xl mt-4">Welcome, <strong><%= user.email %>!</strong></p>
<% } %>
<div class="flex flex-wrap justify-center items-center">

  <% errors.map(message => { %>
    <div class="bg-white text-red">
      <%= message %>
    </div>
  <% }).join('') %>

  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 m-8">
    <ul class="list-disc">
      <li class="mb-2"> Have you ever tried to get in touch with a former classmate but with no success?</li> 
      <li class="mb-2"> You searched their name on Facebook, Twitter and Instagram but still no success? </li>
      <li> GSS Gwarinpa Contact Book is made to avoid the above circumstance. It is built with the aim of giving you another chance at getting in touch with your former classmates. </li>
    </ul>
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 m-4">
    <div>
      <a href="#" class="text-white hover:bg-blue-700 px-3 py-2 bg-blue-600 m-2 rounded font-bold inline-block"> Search by Year</a>
    </div>
    <div>
      <a href="#" class="text-white hover:bg-blue-700 px-3 py-2 bg-blue-600 m-2 rounded font-bold inline-block"> Search by Name</a>
    </div>
    <div>
      <a href="#" class="text-white hover:bg-blue-700 px-3 py-2 bg-blue-600 m-2 rounded font-bold inline-block"> Search by Place of Residence</a>
    </div>
  </div>
</div>

<%- include('includes/footer') %>