<%- include('includes/header') %>

<div class="max-w-lg mt-24 mx-auto bg-red-400 text-center">
    What if two years after graduation, I need to get in touch with my classmate?
    I checked Facebook and Twitter but could not find them?

    GSS Gwarinpa Contact List is made to avoid the above circumstance. It is to give 
    you another chance at getting in touch with anyone in your school.
</div>




<%- include('includes/footer') %>