<%- include('includes/header') %>

<div class="max-w-lg mt-24 bg-white p-8 mx-4 md:mx-auto">
  <ul class="list-disc">
    <li> Have you ever tried to get in touch with a former classmate but with no success?</li> 
    <li> You searched their name on Facebook, Twitter and Instagram but still no success? </li>
    
    <li> GSS Gwarinpa Contact List is made to avoid the above circumstance. It is to gives you another chance at getting in touch with former classmate. </li>
  </ul>
</div>

<div>
  
</div>




<%- include('includes/footer') %>