<%- include('includes/header') %> 
<%- include('includes/goToHomePage') %>
<div class="max-w-lg flex justify-center mt-4 mx-auto">
<%- include('includes/profileShared') %> 
</div>
<%-include('includes/footer') %>
