<%- include('includes/header') %>
<%- include('includes/profileShared') %>
<div class="text-center text-blue-800 font-bold border border-blue-800 w-56 mx-auto hover:text-white hover:bg-blue-600">
  <a href="#">Edit Your Profile</a>
</div>
<%- include('includes/footer') %>
