<%- include('includes/header') %> <%- include('includes/profileShared') %>
<div class="text-center">
  <a
    class="inline-block text-blue-800 rounded font-bold border border-blue-800 w-56 hover:text-white hover:bg-blue-600"
    href="#"
    >Edit Your Profile</a
  >
</div>
<%- include('includes/footer') %>
