<%- include('includes/header') %>

<div class="mt-6 text-center">
<h2 class="text-2xl">Create a New Account</h2>
</div>
<div class="flex justify-center p-2 sm:p-4 mx-auto relative min-h-full max-w-2xl">
  <form action="/register" method="POST" class="max-w-lg mx-auto p-8 border rounded mt-4 bg-white">
    <% reqErrors.forEach(function(message){ %>
    <div class="bg-red-100 border border-red-400 text-red-700 text-center px-4 py-3 rounded relative"><%= message %></div>
    <% }) %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="first-name">
          First Name
        </label>
        <input name="firstName"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="first-name" type="text">
      </div>
      <div class="w-full md:w-1/2 mb-3 md:mb-0 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="last-name">
          Last Name
        </label>
        <input name="lastName"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="last-name" type="text">
      </div>
      <div class="w-full px-3 mb-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="email">
          Email
        </label>
        <input name="email"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="email" type="text">
      </div>
      <div class="w-full px-3 mb-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="year">
          What year did you graduateD OR will graduate?
        </label>
        <input name="year"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="year" type="text">
      </div>
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1" for="password">
          password
        </label>
        <input name="password"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="password" type="password">
          <p class="text-gray-600 text-xs mt-1 italic">Password should be a minimun of 6 characters</p>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">
        Create Account
      </button>
    </div>
  </form>
</div>
<%- include('includes/footer') %>