<%- include('includes/header') %>
<div id="main-container" class="flex flex-wrap justify-center items-center mx-auto" style="max-width: 900px;">
  <div id="register-container" class="flex-initial max-w-sm px-2 sm:px-4">
    <div class="mt-6 text-center">
      <h2 class="text-2xl">Discover Present & Past GSS Gwarinpa Students</h2>
      <p class="text-sm italic">
        Creating an account will automatically add your profile.
      </p>
    </div>
    <div class="mt-2">
      <!-- FB LOGIN LINK-->
      <a href="/fb-login">
        <div class="flex justify-center items-center text-white rounded px-2 mb-4" style="background-color: #4D68A1;">
          <img src="../../static/fb-btn.png" class="rounded mr-2" />
          <p>Sign up with Facebook</p>
        </div>
       </a>
      <!-- FB LOGIN LINK ENDS-->
      <a href="/yahoo-login">
        <div class="flex justify-center items-center text-white rounded px-2 mb-4" style="background-color: #4D68A1;">
          <img src="../../static/fb-btn.png" class="rounded mr-2" />
          <p>Sign up with Yahoo</p>
        </div>
       </a>
      <!-- GOOGLE LOGIN LINK-->
      <a href="/google-login">
        <div class="flex justify-center items-center border border-red-400 bg-white rounded px-2">
          <img src="../../static/google-btn.png" class="rounded mr-2" />
          <p>Sign up with Google</p>
        </div>
       </a>
      <!-- GOOGLE LOGIN LINK ENDS-->
    </div>
    <p class="my-2 text-center">Or Use Your Email</p>
    <div class="flex justify-center mx-auto relative ">
      <form
        id="registration-form"
        action="/register"
        method="POST"
        class="mx-auto p-3 border rounded bg-white"
      >
        <% reqErrors.forEach(function(message){ %>
        <div
          class="border border-red-400 text-red-700 text-center px-4 py-3 rounded"
        >
          <%= message %>
        </div>
        <% }) %>
        <div class="flex flex-wrap -mx-3 mt-1">
          <div class="relative w-full px-3 mb-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1"
              for="first-name"
            >
              First Name <span class="text-red-600">*</span>
            </label>
            <input
              name="firstName"
              autocomplete="off"
              spellcheck="false"
              class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="first-name"
              type="text"
            />
          </div>
          <div class="relative w-full px-3 mb-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1"
              for="last-name"
            >
              Last Name <span class="text-red-600">*</span>
            </label>
            <input
              name="lastName"
              class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="last-name"
              type="text"
            />
          </div>
          <div class="relative w-full px-3 mb-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1"
              for="email"
            >
              Email <span class="text-red-600">*</span>
            </label>
            <input
              name="email"
              class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="email"
              type="text"
            />
          </div>
          <div class="relative w-full px-3 mb-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1"
              for="year"
            >
              What year did you graduateD OR will graduate GSS Gwarinpa?
              <span class="text-red-600">*</span>
            </label>
            <input
              name="year"
              class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="year"
              type="text"
            />
          </div>
          <div class="relative w-full px-3">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-1"
              for="password"
            >
              password <span class="text-red-600">*</span>
            </label>
            <input
              name="password"
              class="form-control appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="password"
              type="password"
            />
            <p class="text-red-300 text-xs mt-1 italic">
              Password should be a minimun of 6 characters
            </p>
          </div>
          <button
            class="rounded w-full bg-blue-600 hover:bg-blue-800 text-white m-3 p-3"
          >
            Create Account
          </button>
          <div class="text-xs flex justify-center w-full">
            <p>By clicking Create Account, you agree to our</p>
            <a href="/privacy" class="text-blue-600 ml-1" rel="nofollow"
              >Privacy Policy.</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="profiles-container" class="bg-white p-4 rounded mt-4 sm:mt-0" style="width: 365px;">
    <h3 class="text-center text-gray-600 mb-4">Used by Your Classmates</h3>
    <ul class="flex flex-wrap">
      <% locals.photoUrl.forEach( url => { %>
      <img
        class="w-24 h-24 rounded-full mx-auto object-cover"
        src="<%= url %>"
      />
      <% }) %>
    </ul>
  </div>
</div>
<%- include('includes/footer') %>
