<%- include('includes/header') %> <%- include('includes/goToHomePage') %>
<div class="text-center mt-4 mx-4">
  <h2 class="text-2xl mb-5">Reset Your Password</h2>
  <div class="max-w-md sm:max-w-sm mx-auto bg-white p-4 m-4 rounded">
    <%- include('includes/flash') %>
    <form action="/reset-password" method="POST">
      <div>
        <p class="text-left text-xl mb-4">Step 1 of 2:</p>
        <label
          for="reset_password"
          class="block text-left block uppercase text-gray-700 text-sm font-bold mb-2"
        >
          Enter your email</label
        >
        <input
          name="reset_password_email"
          class="w-full rounded block py-3 px-4 leading-tight border border-gray-200 bg-gray-200 my-4 focus:outline-none appearance-none focus:bg-white text-gray-700"
          type="text"
        />
      </div>
      <button
        class="w-full bg-blue-600 text-white hover:bg-blue-700 rounded py-3"
      >
        Send Me a Reset Token
      </button>
    </form>
    <div class="text-xs mt-3">
      <p>
        Having trouble seeing your reset token? Check your
        <strong>SPAM</strong> folder.
      </p>
      <p>
        Still don't see your reset token? Contact me at <em>adamu.dankore@gmail.com</em>
      </p>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
