<%- include('includes/header') %>
<div class="max-w-md mx-auto bg-white p-4 m-4 rounded">
  <h2 class="text-2xl mb-5">Reset Your Password</h2>
  <p>
    Email your request for a password reset to
    <strong>adamu.dankore@gmail.com</strong>
  </p>
  <p class="my-2">
    I will write a feature to allow you reset your password on your own.
  </p>
  <p>Thank you for your patience and sharing your profile with other GOSITES.</p>
  <p class="my-2">Adamu, creator and maintainer.</p>
</div>
<%- include('includes/footer') %>
